.base{
    text-align: center;
    background: black;
}
.base div{
    display: inline-block;
    line-height: 60px;
    margin: 3px;
    font-size: 60px;    
    color: white;
    padding: 10px;    
}
